[user]
  email = name@example.com
  name = My Name
[core]
  autocrlf = false
[help]
  autocorrect = 9
[alias]
  br=branch -a
  ch=checkout
  st=status
  log=log --date=iso

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
